html, body {
  height: 100%;
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.container {
  max-width: 970px !important;
}
.headline {
  padding: 20px 10px;
  text-align: center;
}
.palette {
  text-transform: none !important;
  padding-bottom: 40px;
  height: 100%;
}
.main {
  height: 100%;
}
.navbar-inverse .nav > li > a {
  border: none !important;
}
